@{
    Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h1>@Model.Name Details</h1>

<p>
    @Model.Breed <br>
    @Model.Type <br>
    @Model.Date <br>
</p>

@Html.ActionLink("Go back to all animals", "Index")
<br>
@Html.ActionLink("Back to Homepage", "Index", "Home")


